h1 { 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; border: thin #000099 dashed
}
h2 { 
    font-family: Georgia, "Times New Roman", Times, serif; 
    font-size: 9px; font-style: italic; 
    color:#CC0000; text-decoration: blink
}
h3 { font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-style: normal;
    font-weight: bold; 
    color: #FF3399
}
h4 { font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 16px;
     font-style: italic; 
     color:#FFFF00
}
h5 { font-family: "Courier New", Courier; 
    font-size: 24px; 
    font-style: italic; 
    color: #009999
}
h6 { font-family: Arial, Helvetica, sans-serif; 
    font-size: 9px; 
    font-style: normal; font-weight: lighter; 
    color: #009900
}
table, th,tr,td {
    border: 1px solid  #993738;
}
th:last-child,td:last-child{
text-align: right;
}
th:first-child,td:first-child{
    text-align: left;
}
.ex1{
    background-image: url(../IMAGE/1165476.png);
   background-position: 50%;
}
#adv-hemisphere{
    border-width: 4px 30px 4px 30px;
    border-style: groove ridge dashed groove;
    border-color: #c00;
    border-radius: 100px 100px 0 0;
    -moz-border-radius:100px 100px 0 0 ;
    -webkit-border-radius:100px 100px 0 0 ;
}
